* {
    margin: 0;
    padding: 0;
}
.page-container {
    background-color: rgb(20, 20, 20);
    height: 100vh;
}

.profile-main-section {
    height: 90%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.user-stats,
.user-info {
    margin: 40px;
}

.user-stats {
    display: flex;
    justify-content: space-around;
}

.stat {
    color: white;
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    background-image: linear-gradient(to bottom right, rgb(7, 7, 7), rgb(20, 20, 20));
}

.stat p {
    margin-top: 15px;
    font-size: 4rem;
    color: rgba(100, 238, 100, 0.735);
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.user-info-last-games h3 {
    color: white;
    opacity: 0.7;
    font-size: 3rem;
    padding: 20px;
}

.wins-losses {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.wins-losses p {
    font-size: 4.5rem;
}

.wins-losses .win {
    color: rgba(100, 238, 100, 0.735);
}

.wins-losses .loss {
    color: rgb(255, 59, 59);
}

.user-info-profile {
    border: dotted white 1px;
}

